/* ==== Google Fonts ==== */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:ital,wght@0,300;0,400;1,400;1,600&display=swap');

/* ==== General ==== */
* {
  box-sizing: border-box;
}

body {
  font-family: Raleway, Arial, Verdana, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
  color: #444;
}
